# Ignore virtual environment
venv/

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore data and results
/data
/_deprecated/
/chroma_db
# Ignore environment dependencies
requirements.txt

# Ignore temporary files
*.log
*.tmp
.DS_Store
Thumbs.db
.env
